 <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="android-content mdl-layout__content">
        <div class="android-be-together-section mdl-typography--text-center">
          <div class="logo-font android-slogan">
          Mohon maaf, website cenderawasih.id sedang dalam perbaikan.(merubah file)
          </div>
          <div class="logo-font android-sub-slogan">
            Hubungi kami untuk informasi lebih lanjut.
            <p>wickyandrian@yahoo.com</p>
          </div>
        </div>
  </div>
